.section {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
}

.tripContainer > h1 {
    font-size: 3em;
}

.section > h2 {
    flex: 100%;
    font-size: 1.6em;
    margin-top: 10px;
}

.tripContainer {
    padding: 100px;
    height: 100vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
}

.tripContainer::-webkit-scrollbar {
    display: none;
}

.headImg {
    width: 400px;
    height: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px solid #BFBFBF;
    /* object-fit: cover; */
}