.section {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
}

.tripContainer > h1 {
    font-size: 3em;
}

.section > h2 {
    flex: 100%;
    font-size: 1.6em;
    margin-top: 10px;
}

.tripContainer {
    padding: 100px;
    height: 100vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
}

.tripContainer::-webkit-scrollbar {
    display: none;
}