.tripForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.tripForm::-webkit-scrollbar {
    display: none; 
}
.tripForm > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30vw;
}

.tripForm > div > label {
    font-size: 2.5em;
    font-weight: bold;
    color: #052659;
    text-align: center;
}

.tripForm > div > input {
    background-color: #FFFFFF;
    height: 2em;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;    
    color: #052659;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
}
.tripForm > div > button {
    background-color: #052659;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    width: 20%;
    align-self: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tripForm > div > input::placeholder {
    color: #7DA0CA;
}

.tripForm > div > select {
    background-color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    outline: none;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  
    border-radius: 10px;
    /* height: 2em; */
}

@media (max-width:600px) {
    .tripForm > div {
        width: 80%;
    }
    .tripForm > :last-child {
        margin-bottom: 100px;
    }
    .tripForm > :first-child {
        padding-top: 100px;
    }
    button {
        width: 40% !important;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .tripForm > div {
        width: 80%;
    }
    .tripForm > :last-child {
        margin-bottom: 100px;
    }
    .tripForm > :first-child {
        padding-top: 100px;
    }
    button {
        width: 30% !important;
    }
}