.container {
    width: 100%;
    border-bottom: 1px solid #bfbfbf;
    padding: 10px 30px;
    background-color: #7DA0CA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo img {
    height: 40px;
    width: 40px;
    border-radius: 17px;
}

.logo {
    display: flex;
    font-family: 'Exo 2';
    align-items: center;
    cursor: pointer;
}

.title {
    padding-left: 10px;
    font-size: 1.8em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 30px;
    transition: transform 0.3s ease;
}

.home,
.mytrips,
.logout {
    background-color: #052659;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
}

.profile {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #C1E8FF;
    cursor: pointer;
}

.right {
    display: flex;
    gap: 20px;
}

@media (max-width: 600px) {
    .title {
        display: none;
    }

    .navigation {
        flex-direction: column;
        position: absolute;
        top: 88%;
        border-radius: 5px;
        overflow: auto;
        right: 30px;
        width: 30%;
        display: none;
        z-index: 10;
        gap: 0px;
    }

    .navigation.showMenu {
        display: flex;
    }

    .home,
    .mytrips,
    .logout {
        background-color: #052659;
        padding: 15px;
        text-align: center;
        width: 100%;
        border-radius: 0px;
    }
}

@media (max-width:800px) {
    .title {
        display: none;
    }
}